﻿@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@using BlazorApp.Data
@inject DataService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from an embedded Firebird DB.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>City</th>
                <th>Temp. (C)</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date</td>
                    <td>@forecast.city</td>
                    <td>@forecast.TemperatureC</td>

                </tr>
            }
        </tbody>
    </table>
}
<p>@err</p>
@code {
    string err = "";
    Entity[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        }
        catch (Exception e)
        {
            err = e.Message;
        }
    }
}
