﻿@page "/"
@attribute [AllowAnonymous]
<h1></h1>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Выбор услуг</button>
    <button type="button" class="btn btn-secondary">Мои заказы</button>
    
</div>
