﻿@page "/reg"
@using Logic.Services;
<h1>Reg</h1>


<input value="@user" placeholder="Your login" />
<input value="@mail" placeholder="Your mail" />
<button class="btn btn-primary" @onclick="Register">Reg!</button>

@code {
    string user, mail;
    MailSenderService ms = new MailSenderService();
    void Register()
    {
        ms.SendMailTo("", "pwd", "Your pwd is ", user, mail);
    }
}
