﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="/login" 
           target="_blank">Login</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
